a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header, .nav, .main , .sidebar, .advertise, .footer{
    background-color: blanchedalmond;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}
/* .header{

} */
 body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 }
 .header{
    grid-column: span 3;
 }
 .nav{
    grid-row: span 2;
 }
 .main{
    grid-row: span 3;
 }
 .sidebar{
    grid-row: span 1;
 }
 .advertise{
    grid-row: span ;
 }